.DS_Store

# terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars

# local vars and secrets
terraform/terraform.tfvars
**/*key*.json
**/*.pem
**/*.key


# terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# keys
terraform/keys/
*.pem
*.key
id_rsa
id_ed25519
